.container {
  width: 100%;
  padding: 20px 40px;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  z-index: 5;
  background: rgb(0, 1, 12);
  background: linear-gradient(180deg, rgba(0, 1, 12, 1) 0%, rgba(0, 212, 255, 0) 100%);

  .logoContainer {
    height: 60px;
    img {
      height: 100%;
    }
  }
}
